<ion-header>
  <ion-toolbar>
    <ion-title>Recepi Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="back-button" defaultHref="/"
        >Go Back</ion-back-button
      ></ion-buttons
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="meal">
    <ion-row>
      <ion-col>
        <img [src]="meal.strMealThumb" alt="" />
        <h1>{{meal.strMeal}}</h1>
        <h5>{{meal.strCategory}}, {{meal.strArea}}</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Ingredients:</h1>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of ingredients">
      <ion-col> {{item.key}} </ion-col>
      <ion-col> {{item.value}} </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Instructions:</h1>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of instructions">
      <ion-col> {{item}} </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
